<fieldset
  [ngClass]="{
    'border-lime-400 bg-lime-50': isSelected,
    'border-indigo-900 bg-white': !isSelected,
  }"
  class="group flex w-full cursor-pointer items-center border-2 px-4 py-2 transition-all duration-300 ease-in-out"
  (click)="toggleSelection()"
>
  <input
    autocomplete="off"
    type="radio"
    [id]="textLabel"
    class="peer hidden cursor-pointer outline-none"
    [checked]="isSelected"
    name="typeRadio"
  />

  <!-- Círculo exterior -->
  <div
    class="relative flex h-4 w-4 items-center justify-center rounded-full border-2 border-indigo-900 transition-all duration-300 peer-checked:border-lime-400 peer-checked:bg-lime-400"
  >
    <div
      class="absolute h-3 w-3 rounded-full border-2 border-white transition-all duration-300"
      [ngClass]="{
        'bg-lime-400': isSelected,
        'bg-white': !isSelected,
      }"
    ></div>
  </div>

  <label
    [htmlFor]="textLabel"
    class="cursor-pointer px-4 text-center font-semibold"
    >{{ textLabel }}</label
  >
</fieldset>
