<div class="flex min-h-screen w-full items-center justify-center bg-blue-200">
  <div
    class="grid h-full max-w-4xl grid-cols-1 bg-white shadow-2xl md:grid-cols-2 md:rounded-3xl"
  >
    <div class="flex flex-col gap-4 px-4 py-6 md:gap-8 lg:p-8">
      <div class="flex justify-between">
        <h1 class="text-xl font-bold text-indigo-950">Mortgage Calculator</h1>
        <button
          type="reset"
          class="text-sm text-indigo-950 underline"
          (click)="reset()"
        >
          Clear All
        </button>
      </div>
      <div class="flex flex-col gap-3">
        <app-input
          textLabel="£"
          direction="flex-row-reverse"
          [(value)]="amount"
          [error]="errorAmount"
          #amountInput
          textTitle="Mortgage Amount"
        ></app-input>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          <app-input
            textLabel="years"
            [(value)]="term"
            #termInput
            [error]="errorTerm"
            textTitle="Mortgage Term"
          ></app-input>
          <app-input
            textLabel="%"
            [(value)]="rate"
            #rateInput
            [error]="errorRate"
            textTitle="Interest Rate"
          ></app-input>
        </div>
        <div class="radio-group flex flex-col gap-2">
          <span class="text-sm text-gray-600">Morgage Type</span>
          <app-radiobutton
            textLabel="Repayment"
            id="repayment"
            [isSelected]="selectedRadioId === 'repayment'"
            (radioChange)="onRadioChange('repayment')"
          ></app-radiobutton>
          <app-radiobutton
            textLabel="Interest Only"
            id="interestOnly"
            [isSelected]="selectedRadioId === 'interestOnly'"
            (radioChange)="onRadioChange('interestOnly')"
          ></app-radiobutton>
          <app-error [error]="errorTypeOperation"></app-error>
        </div>
      </div>
      <app-button (onClick)="submit()"></app-button>
    </div>
    <div
      class="h-full rounded-tl-none bg-blue-950 px-4 py-6 text-center text-white md:rounded-3xl md:rounded-bl-[5rem] lg:p-8"
    >
      <div
        class="transition-all duration-300 ease-in-out"
        [ngClass]="showResults ? 'flex' : 'hidden'"
      >
        <div class="flex flex-col gap-4 text-start">
          <h1 class="text-xl font-bold text-white">Your results</h1>
          <p class="text-sm font-semibold text-blue-200">
            Your results are shown below based on the information you provided.
            To adjust the results, edit the form and click "calculate
            repayments" again.
          </p>
          <div
            class="flex flex-col gap-2 rounded-t-xl border-t-4 border-lime-400 bg-slate-900 p-4 lg:p-8"
          >
            <p class="text-sm font-bold text-blue-200">
              Your monthly repayments
            </p>
            <p class="text-2xl font-bold text-lime-400 sm:text-5xl">
              £{{ monthlyPayment }}
            </p>
            <hr class="my-6" />
            <p class="text-sm font-bold text-blue-200">
              Total you'll repay over term
            </p>
            <p class="text-lg font-bold">£{{ totalRepayment }}</p>
          </div>
        </div>
      </div>
      <div
        class="flex h-full flex-col items-center justify-center gap-4 transition-all duration-300 ease-in-out"
        [ngClass]="showResults ? 'hidden' : 'true'"
      >
        <img
          src="/assets/images/illustration-empty.svg"
          alt="Illustration empty"
          class="mx-auto"
          loading="eager"
          width="200"
          height="200"
        />
        <h2 class="text-xl font-bold">Results shown here</h2>
        <p class="text-sm font-bold text-blue-200">
          Complete the form and click "calculate repayments" to see what your
          monthly repayments would be.
        </p>
      </div>
    </div>
  </div>
</div>
